<h1>*ngFor</h1>
<input type="text" required [(ngModel)]="newName">
<button (click)="addName()">Add name</button>

<ul>
    <li *ngIf="names.length === 0 ">Lista vacia</li>
    <li *ngFor="let elem of names; index as i">
        {{i +'  '+ elem}}
        <button (click)="deleteName(i)">Delete</button>
    </li>
</ul>

<hr/>
<h1>*ngIf</h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name === 'rodrigo'">Soy Rodrigo</p>
<p *ngIf="person.name === 'James' && person.age === 18; else myBlock">Soy James</p>
<ng-template #myBlock>
    <p>Bloque de else</p>
</ng-template>

<hr/>
<h1>NgModel</h1>
<p>Nombre {{person.name}}</p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name" >
<p>Valid: {{nameInput.valid}}</p>

<p>Age {{person.age}}</p>
<input type="number" required #ageInput="ngModel" [(ngModel)]="person.age" max="18" min="10">
<p>Valid: {{ageInput.valid}}</p>


<hr/>
<h1>Eventos</h1>
<button [disabled]="btnDisabled">Enviar</button>
<button (click)="toggleButton()">Toogle Button</button>
<p>Edad {{person.age}}</p>
<button (click)="increaseAge()">Age ++</button>
<div class="box" (scroll)="onScroll($event)">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio alias cum nostrum pariatur nisi sapiente obcaecati. Qui natus mollitia laborum nobis perspiciatis amet. Alias nam perferendis cupiditate maiores fugiat architecto!</p>
</div>
<input type="text" [value]="person.name" (keyup)="changeName($event)"/>
<p>Nombre {{person.name}}</p>
<hr/>

<h1>Propiedades</h1>
<button [disabled]="btnDisabled">Enviar</button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>
<img width="100" [src]="person.avatar" /> 
<hr/>


<h1>Hola Mundo</h1> 
<h2>{{'Hola mundo'.repeat(5)}}</h2>

<p>3 + 3 = {{3+3}}</p>
<h3>Hola, soy {{name}} y tengo {{age}}</h3>

<img src="{{img}}" alt="image">